필수 요소 Import

In [52]:
# import
import numpy as np
import pandas as pd
a = 10

10x10 랜덤 넘버 생성

In [53]:
df = pd.DataFrame(
    np.random.rand(10,10)
)

df

,0,1,2,3,4,5,6,7,8,9
0,0.961361,0.149162,0.723980,0.820532,0.004514,0.778026,0.439819,0.316183,0.654057,0.593311
1,0.846105,0.301964,0.095891,0.378272,0.565023,0.429399,0.514099,0.079326,0.265054,0.849198
2,0.599206,0.291224,0.999899,0.151528,0.081212,0.768903,0.409008,0.827084,0.687231,0.267815
3,0.695226,0.766848,0.810501,0.835576,0.159053,0.638120,0.319260,0.145650,0.929123,0.236736
4,0.391934,0.234777,0.230695,0.923882,0.312862,0.140737,0.045181,0.571994,0.702650,0.814079
5,0.594032,0.255895,0.668036,0.023222,0.057465,0.838519,0.888048,0.859328,0.551314,0.295254
6,0.941566,0.231512,0.721953,0.643001,0.823717,0.442941,0.897334,0.760278,0.396307,0.257264
7,0.040816,0.561837,0.379114,0.957977,0.438381,0.577160,0.629158,0.555523,0.957217,0.976646
8,0.166802,0.788790,0.311800,0.419343,0.853447,0.457347,0.056904,0.768708,0.894982,0.651766
9,0.484409,0.890338,0.216048,0.471312,0.231235,0.180968,0.184343,0.752545,0.061095,0.754201

컬럼의 인덱스를 주는 방법으로 Dataframe 생성

In [54]:
# index(행) : 데이터 정보
# column(열) : A, B, C

index = pd.date_range('2020-01-01', periods=10, freq='D')

df = pd.DataFrame(
    np.random.rand(10, 3), index, columns=['A', 'B', 'C']
)

df

                   A         B         C
2020-01-01  0.292862  0.570013  0.511043
2020-01-02  0.678130  0.446172  0.500560
2020-01-03  0.298260  0.582828  0.054291
2020-01-04  0.431734  0.887786  0.097067
2020-01-05  0.511781  0.224775  0.256908
2020-01-06  0.178290  0.363364  0.261040
2020-01-07  0.126083  0.794203  0.029800
2020-01-08  0.140747  0.933019  0.817378
2020-01-09  0.215472  0.659706  0.093733
2020-01-10  0.378588  0.900345  0.143540

리스트로부터 생성하기<br>
리스트를 미리 만든 후 DataFrame으로 만드는 방법이 가능함

In [55]:
list_a = [1.0, 3.0, 2.0, 6.0, 5.0]

# DataFrame의 정방 행렬 Element의 수를 맞춰주어야함
df = pd.DataFrame(
    {
        "A": list_a,
        "B": [3.0, 2.0, 1.0, 4.0, 7.0],
        "C": [9.0, 8.0, 12.0, np.nan, 17.0] #np.nan은 결측값을 의미한다
    }
)
df

     A    B     C
0  1.0  3.0   9.0
1  3.0  2.0   8.0
2  2.0  1.0  12.0
3  6.0  4.0   NaN
4  5.0  7.0  17.0

Column과 index를 지정하여 DataFrame 생성하기

In [56]:
# Column과 index를 지정
df = pd.DataFrame(
    [[1.0, 2.0, 3.0, 4.0, 5.0, 6.0],
    [6.0, 5.0, 4.0, 3.0, 2.0, 1.0],
     [16.0, 15.0, 14.0, 13.0, 12.0, 11.0]],
    columns = ['A', 'B', 'C', 'D', 'E', 'F'],
    index = ['a', 'b', 'c']
)

df

      A     B     C     D     E     F
a   1.0   2.0   3.0   4.0   5.0   6.0
b   6.0   5.0   4.0   3.0   2.0   1.0
c  16.0  15.0  14.0  13.0  12.0  11.0

Series로부터 생성하기<br>
시리즈로부터 생성하면 행렬이 맞지 않더라도 결측값으로 간주 후 DataFrame을 생성함

In [57]:
df = pd.DataFrame(
    {
        "one": pd.Series(np.random.rand(3), index=['a', 'b', 'c']),
        "two": pd.Series(np.random.rand(4), index=['a', 'b', 'c', 'd']),
        "three": pd.Series(np.random.rand(4), index=['a', 'b', 'c', 'd']),
    }
)

df

        one       two     three
a  0.499091  0.577077  0.163561
b  0.645754  0.741850  0.042438
c  0.448290  0.376596  0.155672
d       NaN  0.422476  0.834955

CSV 파일을 읽는 방법으로 데이터를 생성하는 것을 많이 사용함

1. 데이터 컬럼, Value 확인하기

In [58]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [59]:
df.columns

Index(['one', 'two', 'three'], dtype='object')

2. 데이터 선택하기

열 선택하기

In [60]:
df = pd.DataFrame(
    np.random.rand(10, 4),
    index = pd.date_range('2000-12-31', periods=10, freq='D'),
    columns = ['A', 'B', 'C', 'D']
)

df

                   A         B         C         D
2000-12-31  0.490892  0.098417  0.088550  0.187150
2001-01-01  0.712845  0.811965  0.890388  0.518390
2001-01-02  0.231228  0.837742  0.207935  0.951219
2001-01-03  0.245228  0.116272  0.147321  0.824157
2001-01-04  0.739940  0.545379  0.754985  0.080592
2001-01-05  0.139292  0.550665  0.098023  0.699822
2001-01-06  0.032209  0.099032  0.099696  0.939345
2001-01-07  0.459332  0.080921  0.946809  0.408418
2001-01-08  0.499173  0.108362  0.372416  0.797114
2001-01-09  0.948984  0.907507  0.637350  0.606658

In [61]:
# 열 선택(컬럼 라벨로 직접 선택하기)
df['A']

2000-12-31    0.490892
2001-01-01    0.712845
2001-01-02    0.231228
2001-01-03    0.245228
2001-01-04    0.739940
2001-01-05    0.139292
2001-01-06    0.032209
2001-01-07    0.459332
2001-01-08    0.499173
2001-01-09    0.948984
Freq: D, Name: A, dtype: float64

In [62]:
# 열 선택(컬럼 라벨로 직접 선택하기)
df[['A', 'C']]

                   A         C
2000-12-31  0.490892  0.088550
2001-01-01  0.712845  0.890388
2001-01-02  0.231228  0.207935
2001-01-03  0.245228  0.147321
2001-01-04  0.739940  0.754985
2001-01-05  0.139292  0.098023
2001-01-06  0.032209  0.099696
2001-01-07  0.459332  0.946809
2001-01-08  0.499173  0.372416
2001-01-09  0.948984  0.637350

In [63]:
# loc로 열 선택
df.loc[:, 'A']

2000-12-31    0.490892
2001-01-01    0.712845
2001-01-02    0.231228
2001-01-03    0.245228
2001-01-04    0.739940
2001-01-05    0.139292
2001-01-06    0.032209
2001-01-07    0.459332
2001-01-08    0.499173
2001-01-09    0.948984
Freq: D, Name: A, dtype: float64

In [64]:
# loc로 열 선택
df.loc[:, ['A', 'C']]

                   A         C
2000-12-31  0.490892  0.088550
2001-01-01  0.712845  0.890388
2001-01-02  0.231228  0.207935
2001-01-03  0.245228  0.147321
2001-01-04  0.739940  0.754985
2001-01-05  0.139292  0.098023
2001-01-06  0.032209  0.099696
2001-01-07  0.459332  0.946809
2001-01-08  0.499173  0.372416
2001-01-09  0.948984  0.637350

In [65]:
# iloc로 열 선택
df.iloc[:, 0]

2000-12-31    0.490892
2001-01-01    0.712845
2001-01-02    0.231228
2001-01-03    0.245228
2001-01-04    0.739940
2001-01-05    0.139292
2001-01-06    0.032209
2001-01-07    0.459332
2001-01-08    0.499173
2001-01-09    0.948984
Freq: D, Name: A, dtype: float64

In [66]:
# iloc로 열 선택
df.iloc[:, 0:2]

                   A         B
2000-12-31  0.490892  0.098417
2001-01-01  0.712845  0.811965
2001-01-02  0.231228  0.837742
2001-01-03  0.245228  0.116272
2001-01-04  0.739940  0.545379
2001-01-05  0.139292  0.550665
2001-01-06  0.032209  0.099032
2001-01-07  0.459332  0.080921
2001-01-08  0.499173  0.108362
2001-01-09  0.948984  0.907507

In [67]:
# iloc로 열 선택
df.iloc[:, 0:3:2]

                   A         C
2000-12-31  0.490892  0.088550
2001-01-01  0.712845  0.890388
2001-01-02  0.231228  0.207935
2001-01-03  0.245228  0.147321
2001-01-04  0.739940  0.754985
2001-01-05  0.139292  0.098023
2001-01-06  0.032209  0.099696
2001-01-07  0.459332  0.946809
2001-01-08  0.499173  0.372416
2001-01-09  0.948984  0.637350

행 선택하기

In [68]:
df[0:1]

                   A         B        C        D
2000-12-31  0.490892  0.098417  0.08855  0.18715

In [69]:
df['2000-12-31':'2001-01-07']

                   A         B         C         D
2000-12-31  0.490892  0.098417  0.088550  0.187150
2001-01-01  0.712845  0.811965  0.890388  0.518390
2001-01-02  0.231228  0.837742  0.207935  0.951219
2001-01-03  0.245228  0.116272  0.147321  0.824157
2001-01-04  0.739940  0.545379  0.754985  0.080592
2001-01-05  0.139292  0.550665  0.098023  0.699822
2001-01-06  0.032209  0.099032  0.099696  0.939345
2001-01-07  0.459332  0.080921  0.946809  0.408418

In [70]:
df.loc['2000-12-31']

A    0.490892
B    0.098417
C    0.088550
D    0.187150
Name: 2000-12-31 00:00:00, dtype: float64

In [71]:
df.loc['2000-12-31': '2001-01-07']

                   A         B         C         D
2000-12-31  0.490892  0.098417  0.088550  0.187150
2001-01-01  0.712845  0.811965  0.890388  0.518390
2001-01-02  0.231228  0.837742  0.207935  0.951219
2001-01-03  0.245228  0.116272  0.147321  0.824157
2001-01-04  0.739940  0.545379  0.754985  0.080592
2001-01-05  0.139292  0.550665  0.098023  0.699822
2001-01-06  0.032209  0.099032  0.099696  0.939345
2001-01-07  0.459332  0.080921  0.946809  0.408418

In [72]:
df.loc[['2000-12-31', '2001-01-07']]

                   A         B         C         D
2000-12-31  0.490892  0.098417  0.088550  0.187150
2001-01-07  0.459332  0.080921  0.946809  0.408418

In [73]:
df.iloc[0]

A    0.490892
B    0.098417
C    0.088550
D    0.187150
Name: 2000-12-31 00:00:00, dtype: float64

In [74]:
df.iloc[0:2]

                   A         B         C        D
2000-12-31  0.490892  0.098417  0.088550  0.18715
2001-01-01  0.712845  0.811965  0.890388  0.51839

In [75]:
df.iloc[0:5:2]

                   A         B         C         D
2000-12-31  0.490892  0.098417  0.088550  0.187150
2001-01-02  0.231228  0.837742  0.207935  0.951219
2001-01-04  0.739940  0.545379  0.754985  0.080592

원하는 데이터 범위 선택하기

- 인덱스가 2000-12-31인 행의 C열 선택하기

In [76]:
df.loc['2000-12-31', 'C']

0.08855037434842339

인덱스가 2000-12-31~2001-01-03 사이인 행들의 B열과 C열 선택하기

In [77]:
df.loc['2000-12-31':'2001-01-03', 'B':'C']

                   B         C
2000-12-31  0.098417  0.088550
2001-01-01  0.811965  0.890388
2001-01-02  0.837742  0.207935
2001-01-03  0.116272  0.147321

In [78]:
df.loc[['2000-12-31', '2001-01-04'], ['A', 'C']]

                   A         C
2000-12-31  0.490892  0.088550
2001-01-04  0.739940  0.754985

In [79]:
df.iloc[4,3]

0.08059160136726373

In [80]:
df.iloc[3:6, 1:3] #[행, 열]

                   B         C
2001-01-03  0.116272  0.147321
2001-01-04  0.545379  0.754985
2001-01-05  0.550665  0.098023

In [81]:
df.iloc[[3, 6], [1, 3]]

                   B         D
2001-01-03  0.116272  0.824157
2001-01-06  0.099032  0.939345

조건으로 데이터 선택하기

- A열의 값이 0.5보다 큰 행 선택하기

In [82]:
df.loc[lambda df: df['A'] > 0.5, :]

                   A         B         C         D
2001-01-01  0.712845  0.811965  0.890388  0.518390
2001-01-04  0.739940  0.545379  0.754985  0.080592
2001-01-09  0.948984  0.907507  0.637350  0.606658

- 모든 행의 A, B열 선택하기

In [83]:
df.loc[:, lambda df:['A', 'B']]

                   A         B
2000-12-31  0.490892  0.098417
2001-01-01  0.712845  0.811965
2001-01-02  0.231228  0.837742
2001-01-03  0.245228  0.116272
2001-01-04  0.739940  0.545379
2001-01-05  0.139292  0.550665
2001-01-06  0.032209  0.099032
2001-01-07  0.459332  0.080921
2001-01-08  0.499173  0.108362
2001-01-09  0.948984  0.907507

In [84]:
df[df['A'] > 0.5]

                   A         B         C         D
2001-01-01  0.712845  0.811965  0.890388  0.518390
2001-01-04  0.739940  0.545379  0.754985  0.080592
2001-01-09  0.948984  0.907507  0.637350  0.606658

A열이 0.5보다 크고 C열이 0.5보다 큰 행 선택

In [85]:
df[(df['A'] > 0.5) & (df['C'] > 0.5)]

                   A         B         C         D
2001-01-01  0.712845  0.811965  0.890388  0.518390
2001-01-04  0.739940  0.545379  0.754985  0.080592
2001-01-09  0.948984  0.907507  0.637350  0.606658

In [86]:
df.sample()

                   A         B        C        D
2000-12-31  0.490892  0.098417  0.08855  0.18715

In [87]:
df.sample(n = 4)

                   A         B         C         D
2001-01-05  0.139292  0.550665  0.098023  0.699822
2001-01-03  0.245228  0.116272  0.147321  0.824157
2001-01-01  0.712845  0.811965  0.890388  0.518390
2001-01-07  0.459332  0.080921  0.946809  0.408418

In [88]:
df.sample(axis=1) #컬럼을 임의로 뽑음

                   A
2000-12-31  0.490892
2001-01-01  0.712845
2001-01-02  0.231228
2001-01-03  0.245228
2001-01-04  0.739940
2001-01-05  0.139292
2001-01-06  0.032209
2001-01-07  0.459332
2001-01-08  0.499173
2001-01-09  0.948984

포함여부 확인

In [89]:
# Column과 index를 지정
df = pd.DataFrame(
    [[1.0, 2.0, 3.0, 4.0, 5.0, 6.0],
    [6.0, 5.0, 4.0, 3.0, 2.0, 1.0],
     [16.0, 15.0, 14.0, 13.0, 12.0, 11.0]],
    columns = ['A', 'B', 'C', 'D', 'E', 'F'],
    index = ['a', 'b', 'c']
)

df

      A     B     C     D     E     F
a   1.0   2.0   3.0   4.0   5.0   6.0
b   6.0   5.0   4.0   3.0   2.0   1.0
c  16.0  15.0  14.0  13.0  12.0  11.0

In [90]:
df["D"].isin([4.0])

a     True
b    False
c    False
Name: D, dtype: bool

In [91]:
df[df["D"].isin([3.0, 4.0])] #원소를 가지고 있는가

     A    B    C    D    E    F
a  1.0  2.0  3.0  4.0  5.0  6.0
b  6.0  5.0  4.0  3.0  2.0  1.0

In [92]:
df[df["D"].isin([3.0]) | df["A"].isin([1.0])]

     A    B    C    D    E    F
a  1.0  2.0  3.0  4.0  5.0  6.0
b  6.0  5.0  4.0  3.0  2.0  1.0